# System files
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

pids
logs
results
dist
tmp
generated

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
.npm-cache/

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# husky
.husky/_

# Frameworks
.next/
out/
.angular/cache

# TypeScript
*.tsbuildinfo
next-env.d.ts

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/versions
.pnp.js
!/.yarnrc.yml
